section {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #000;
}

section .bg {
    position: relative;
    flex-grow: 2;
    display: flex;
    overflow: hidden;
    transition: ease-in 0.6s;
}

section .bg:nth-child(1) {
    background: url(./../../images/left-bg.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
}

section .bg:nth-child(2) {
    background: url(./../../images/right-bg.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
}



@media only screen and (min-width: 768px) {
    section {
        flex-direction: row;
    }


    section:hover .bg {
        opacity: 0.1;
    }

    section .bg:hover {
        opacity: 1;
        flex-grow: 4;
    }


}