section {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    background: #f0f1eb;
}

section .bg {
    position: relative;
    flex-grow: 1;
    display: flex;
    overflow: hidden;
    transition: ease-in 0.3s;
}

section .bg:nth-child(1) {
    background: url(./../../images/top.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

section .bg:nth-child(2) {
    background: url(./../../images/bottom.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



@media only screen and (min-width: 768px) {
    section {
        flex-direction: row;
    }


    section:hover .bg {
        opacity: 0.1;
    }

    section .bg:hover {
        opacity: 1;

    }

    section .bg:nth-child(1) {
        background: url(./../../images/left-bg_02.jpg);
        background-position: top right;
        background-size: cover;
    }

    section .bg:nth-child(2) {
        background: url(./../../images/right-bg_02.jpg);
        background-position: top left;
        background-size: cover;
    }
}